<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="etec.com.gustavo.henrique.appUtils">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TesteMenu">
        <activity
            android:name="etec.com.gustavo.henrique.utilities.ConversorTemperaturasActivity"
            android:exported="false" />
        <activity
            android:name="etec.com.gustavo.henrique.utilities.CalculadoraActivity"
            android:exported="false" />
        <activity
            android:name="etec.com.gustavo.henrique.utilities.MainActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
    </application>

</manifest>